

.bobble{
   margin: auto;
   margin-top: 100px;
    height: 360px;
    width: 640px;
    background-color: #e7e7ee;
    border-radius: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    position: relative;
}

.bobble-dot {
    height: 130px;
    width: 130px;
    background-color: #e7e7ee;
    border-radius: 50%;
    position: absolute;
    left: -15px;
    bottom: -15px;
}

.bobble-dot2 {
    height: 75px;
    width: 75px;
    background-color: #e7e7ee;
    border-radius: 50%;
    position: absolute;
    left: -65px;
    bottom: -65px;
}

.dot {
    width: 70px;
    height: 70px;
    background-color: #464646 ;
    border-radius: 50%;
    margin: 17px;
    animation: dotBouncing 1s infinite;
}

.dot.two {
    animation-delay: 50ms;
}
.dot.three {
    animation-delay: 100ms;
}

@keyframes dotBouncing {
    0% { transform: translateY(0);}
    20% { transform: translateY(-30px)}
    40% { transform: translateY(0)}
}